# from my.telegram.org/apps
API_ID=39313879
API_HASH=a70a22438f35d779f8567fa7b3921532

# from @BotFather on telegram
BOT_TOKEN=8635388009:AAHrOPGQD1gVo_V1H88qc8pOYxeRpAio4RE
LOGGER_ID=-1003690597249

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://cabbarovxeyal32_db_user:Xeyal032aze@cluster0.f3gogmg.mongodb.net/?appName=Cluster0

OWNER_ID=8371395083

# pyrogram session from @StringFatherBot on telegram
SESSION=AgJX4dcANMVbGAEqVdIfqN1oGnxDxhWHY13KIGXITQDj5BnAwsTIdy4jCQTQaEmPr9xFSlZm6CovO1ruw_FvZNw0-lQn8o0ljgfYN4Q4FWnV6F8h7Poj5ZtSEly_A-BUqyfTYyWnebT5kU7s8SjANJeq74EDGiTjEa1qsjJi6AMzHT3dzACC1jOW0YLIp3hJkthMhQiQqdI0BQu37uMe03ipwiuknak3TaZEXVnJGS5eG-phTyPiSWoJY33lV7NBzCxzhRSorpIpCi-zYhV0zWWXR6SBkj8cDnvLpXQqo_1ORazzOUXN9MTmvDEIhq3KKXXz4usRQ73lMVVhMXeyUTcw4CFwAAAAHvXjOrAA
