# from my.telegram.org/apps
API_ID=32232976
API_HASH=06aa478eadc99254b1cef64fd9110007

# from @BotFather on telegram
BOT_TOKEN=8760151562:AAFkgq3Tvp1fFl3zvMoSCxs_4CLo0a5dpFg
LOGGER_ID=-1003690597249

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://cabbarovxeyal32_db_user:Xeyal032aze@cluster0.f3gogmg.mongodb.net/?appName=Cluster0

OWNER_ID=8371395083

# pyrogram session from @StringFatherBot on telegram
SESSION=AgHr1hAADLlQnAL3J_gXcYM6HiRaILXLnoB9EhCbXhtXHdFBXAorqW-uQf4tQvrRAYpsxcMm3wyB3sa417XxA46osFjs1mCut8mAZUG-Ao_qqElqjb8o0I70VeUc_LIhHIQOQ1kTKpZpU12SBW91SDWFifdr0MOzeSCTjFRdoZuzr2B-wI1qoUzX9mkqZmW1goAUbF1WYtcYwfigIxT-MkNIN9oMgNrp8pM-zOWfn5dFQ6uRmkGSAMrh6VeDfvClmlZkc7wHcjCCiuPznU7XrrkLn4AmOsDx6gN7orAMGoibM9TC4-L6bPM5BU4dM-IxoLFyXBORbf56HmZJhZpGfzbR9YrHIAAAAAH-v60jAA
